<!-- views/partials/header.ejs -->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= app.get('appName') %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button" <%= location == "dashboard" ? 'active' : ''%>" href="#">Dashboard</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>Monthly</li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/dashboard/monthly/chargers">Chargers</a></li>
              <li><a class="dropdown-item" href="/dashboard/monthly/merchants">Merchants</a></li>
              <li><a class="dropdown-item" href="/dashboard/monthly/budgets">Budgets</a></li>
              <br />
              <li>Yearly</li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/dashboard/yearly/chargers">Chargers</a></li>
              <li><a class="dropdown-item" href="/dashboard/yearly/merchants">Merchants</a></li>
              <li><a class="dropdown-item" href="/dashboard/yearly/budgets">Budgets</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= location == "merchants" ? 'active' : ''%>" href="/merchants">Merchants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= location == "budgets" ? 'active' : ''%>" href="/budgets">Budgets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= location == "categories" ? 'active' : ''%>" href="/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= location == "transactions" ? 'active' : ''%>" href="/transactions">All Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= location == "upload" ? 'active' : ''%>" href="/upload">Upload</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <li class="nav-item d-flex" style="margin-right: 1%;">
          <span>Hello <%= username %>!</span>
        </li>
        <li class="nav-item d-flex" style="margin-right: 1%;">
            <button class="btn btn-outline-warning d-flex" type="button" onclick="window.location.href = '/settings';">Settings</button>  
            <!-- <a class="nav-link <%= location == "settings" ? 'active' : ''%>" href="/settings">Settings</a> -->
          </li>
        <button class="btn btn-outline-danger d-flex" type="button" onclick="window.location.href = '/logout';">Logout</button>
      </div>
    </div>
  </nav>
  <div id="alertPlaceholder" class="container"></div>